<div class="main-content">
  <mat-card style="margin-bottom: 1rem">
    <mat-card-header>
      <mat-form-field>
        <mat-label>Equipo</mat-label>
        <mat-select (selectionChange)="loadPlayers($event.value)">
          <mat-option *ngFor="let team of teams | async" [value]="team.equipoId">
            {{team.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-header>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="¿Que estas buscando?">
      </mat-form-field>

      <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

          <!-- Foto Column -->
          <ng-container matColumnDef="foto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Foto</th>
            <td mat-cell *matCellDef="let row">
              <img [src]="row.fotoUrl" class="team_logo">
            </td>
          </ng-container>

          <!-- Nombre Column -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre</th>
            <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
          </ng-container>

          <!-- Posicion Column -->
          <ng-container matColumnDef="posicion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Posición</th>
            <td mat-cell *matCellDef="let row"> {{row.posicion}} </td>
          </ng-container>

          <!-- Precio Column -->
          <ng-container matColumnDef="precio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio</th>
            <td mat-cell *matCellDef="let row"> {{row.precio}} </td>
          </ng-container>

          <!-- Precio Column -->
          <ng-container matColumnDef="puntos">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Puntos</th>
            <td mat-cell *matCellDef="let row"> {{row.puntos}} </td>
          </ng-container>

          <!-- Opciones Column -->
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef class="cell-right">
              <button mat-flat-button color="primary" (click)="openDialogSave('new')">
                <mat-icon>library_add</mat-icon>
                Agregar jugador
              </button>
            </th>
            <td mat-cell *matCellDef="let row; let i = index">
              <button mat-icon-button color="primary"
                      matTooltip="Editar noticia"
                      (click)="openDialogSave('edit', row)">
                <mat-icon>edit</mat-icon>
              </button>

              <button mat-icon-button color="warn"
                      matTooltip="Eliminar noticia"
                      (click)="deletePlayer(row)">
                <mat-icon>delete_forever</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>
      </div>
      <div class="no-results" [style.display]="dataSource.data.length == 0 ? '' : 'none'">
        Sin resultados
      </div>
      <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>

    </mat-card-content>
  </mat-card>
</div>
